NODE_ENV=production
PORT=4000

# Database (TimescaleDB on VPS)
PG_HOST=
PG_PORT=5433
PG_DATABASE=
PG_USER=
PG_PASSWORD=

# MinIO (from Simadata on VPS)
MINIO_ENDPOINT=
MINIO_PORT=9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_USE_SSL=true
MINIO_PUBLIC_URL=

# Auth
JWT_SECRET_KEY=

# Payment
MIDTRANS_SERVER_KEY=
