NODE_ENV=development
PORT=4000

# Database (TimescaleDB via SSH Tunnel)
PG_HOST=localhost
PG_PORT=5433
PG_DATABASE=iotee
PG_USER=postgres
PG_PASSWORD=your_actual_postgres_password

# MQTT (Mosquitto via SSH Tunnel)
MQTT_HOST=localhost
MQTT_PORT=1883

# MinIO (Shared instance via VPS Nginx Reverse Proxy)
MINIO_ENDPOINT=31.97.108.18
MINIO_PORT=80
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=your_simadata_minio_root_user
MINIO_SECRET_KEY=your_simadata_minio_root_password
MINIO_BUCKET_NAME=your_target_bucket_name
MINIO_PUBLIC_URL=http://31.97.108.18/storage

GOOGLE_CLIENT_ID="your_google_client_id_here"
GOOGLE_CLIENT_SECRET="your_google_client_secret_here"

# Auth
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ACCESS_EXPIRATION=15m

# Refresh Token: Long-lived for seamless user sessions
JWT_REFRESH_SECRET_KEY=your_refresh_secret_key
JWT_REFRESH_EXPIRATION=7d

# Payment
MIDTRANS_SERVER_KEY=your_midtrans_key